.container-fluid.night {
  height: 100vh;
  margin: 0;
  background-image: url("/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-family: "Source Code Pro", monospace;
}

.content.night {
  color: whitesmoke;
  padding: 10% 20% 0 20%;
  max-height: 100%;
  max-width: 100%;
}

.content.night {
  p {
    font-size: 1.5rem;
  }
  p span {
    text-decoration: underline;
    cursor: pointer;
    color: #ffa500;
  }
  p img {
    border-radius: 25px;
  }
  .nav-bar {
    position: absolute;
    top: 50%;
    left: 0;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .nav-bar li {
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.2em;
    margin: 0 0 20px 20px;
    text-decoration: underline;
  }

  .nav-bar li:hover {
    color: #ffa500;
    cursor: pointer;
  }
  .selected {
    color: #ffa500;
    cursor: pointer;
    text-decoration: overline !important;
  }

  .infoSection {
    margin-top: 50px;
  }
  .logo_img {
    position: absolute;
    top: 0%;
    left: 1%;
    height: 100px;
  }
}
